<div class="container" id="main_background">  <%# ページ全体を囲むコンテナ%>
<br>
<h2 class="text-center">各種設定</h2>

<div class="col-md-offset-4 col-md-4 well"> <%# グリッドシステム%>
  <div id="static_edit_menu">
    <%= link_to 'ユーザーの設定変更', edit_user_path(session[:user_id]), class:"button text-center", id:"static_edit_list" %>
    <%= link_to '子どもの設定変更', edit_child_path(session[:child_id]), class:"button text-center", id:"static_edit_list" %>
    <%= link_to '別のユーザーと連携', familys_path, class:"button text-center", id:"static_edit_list" %>
    <%= link_to '子どもの一覧', user_path(session[:user_id]), class:"button text-center", id:"static_edit_list" %>
    <%= link_to "新しい子どもを登録", new_child_path, class:"button text-center", id:"static_edit_list" %>
    <%= link_to "ログアウト", logout_path, method: :delete, class:"button text-center", id:"static_edit_list" %>
    <%= link_to child_path(session[:child_id]) do %>
      <%= fa_icon("backward") %> トップページに戻る
    <% end %>
  </div>

</div> <%# グリッドシステム%>
</div> <%# ページ全体を囲むコンテナ%>
