<div class="container">  <%# ページ全体を囲むコンテナ%>
<br><br>

<h2 class="text-center"><span class="pyonpyon">ログイン</span></h2>
<p class="text-center">登録したアドレスとパスワードを入力してください。</p>

<div class="col-md-offset-4 col-md-4 well"> <%# グリッドシステム%>

  <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :アドレス %>
      <%= f.email_field :email, class:"form-control input-lg", id:"input_field" %>
    </div>

    <div class="form-group">
      <%= f.label :パスワード %>
      <%= f.password_field :password, class:"form-control input-lg", id:"input_field" %>
    </div>

    <div class="form-group">
      <%= f.check_box :remember_me %>
      <span>アプリへのログイン状態を継続します</span>
    </div>
    <%= button_tag :type => "submit", :class =>"button" do %>
      <%= fa_icon("sign-in") %> ログイン
    <% end %>

  <% end %>
  <br><br>

  <p>初めてこのアプリを使う方は <%= link_to "こちら", signup_path %>でアカウントを作成してください。</p>
  <%= link_to root_path do %>
    <%= fa_icon("backward") %> トップページに戻る
  <% end %>

</div> <%# グリッドシステム%>
</div>  <%# ページ全体を囲むコンテナ%>
