<div class="container"> <%# ページ全体を囲むコンテナ%>
<br>
<h2 class="text-center">身長・体重</h2>
<br>

<div class="col-md-offset-1 col-md-10 well"> <%# グリッドシステム%>

  <div style="height:60vh">
    <canvas id="myChart"></canvas>
    <script>draw_graph();</script>
  </div>
  <br>

<div class="growth_select">
  <%= link_to new_growth_path, class:"button", id:"growth_button"  do %>
    <%= fa_icon("pencil-square-o") %> 記録の入力
  <% end %>
  <%= link_to detail_growth_path(session[:child_id]), class:"button", id:"growth_button" do %>
    <%= fa_icon("file") %> 記録の修正
  <% end %>
</div>

<%= link_to child_path(session[:child_id]) do %>
  <%= fa_icon("backward") %> トップページに戻る
<% end %>

</div> <%# グリッドシステム%>
</div> <%# ページ全体を囲むコンテナ%>
