<br>
<br><br>

<h1><%= @child.name %>の成長記録</h1>

<table>
  <thead>
    <tr>
      <th>記録した日</th>
      <th>身長</th>
      <th>体重</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @growths.each do |form| %>
      <tr>
        <td><%= form.date %></td>
        <td><%= form.height %></td>
        <td><%= form.weight %></td>
        <td><%= link_to 'Edit', edit_growth_path(form) %></td>
        <td><%= link_to 'Destroy', growth_path(form), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '子どもの成長を入力する', new_growth_path %>
<%= link_to '子どものページに戻る', child_path(@child) %>
