<div class="container"> <%# ページ全体を囲むコンテナ%>

  <div class="row">
    <h2 class="text-center">
    <% if @child.sex == "男の子" %>
    <p><%= @child.name %>くん</p>
    <% else %>
    <p><%= @child.name %>ちゃん</p>
    <% end %>
    </h2>
  </div>

  <div class="row">
    <% if @child.images.attached? %>
      <% @child.images.each do |image| %>
        <%= image_tag image.variant(resize:'400x400'), class:"img-circle center-block", id:"child_img" %>
      <% end %>
    <% else %>
      <p id="child_image">no image</p>
    <% end %>
  </div>

  <div class="row">
    <h3 class="text-center"><%= @age %>歳</h3>
  </div>

  <div class="row">
    <div class="btn-group btn-group-justified", role="group">
    <%= link_to 'アルバムを残す', microposts_path, class:"btn btn-default", role:"button" %>
    <%= link_to '身長・体重を測る', growths_path, class:"btn btn-default", role:"button" %>
    <%= link_to '各種設定', edit_path, class:"btn btn-default", role:"button"  %>
    </div>
  </div>

</div><%# ページ全体を囲むコンテナ%>
