<h2><%= @user.name %>さんから共有パスワードの送付</h2>

<p><%= @child.name %>さんの共有パスワードは次のとおりです。</p>
<p>Ｉ　　　Ｄ：<%= @child.id %></p>
<p>名　　　前：<%= @child.name %></p>
<p>パスワード：<%= @child.child_password %></p>
<br>
<p>もし心当たりがない方は、このメールを削除いただくようお願いします。</p>
