<div class="container">  <%# ページ全体を囲むコンテナ%>
<h2 class="text-center">地図で残す</h2>
<div class="col-md-offset-3 col-md-6">
  <p class="text-center">マーカーをドラッグで動かして、思い出とともに地図に残そう。</p>

  <div id="map"></div>

  <%= form_for(@map) do |form| %>
  <%= render "shared/error_messages", object: form.object %>
    <div class="form-group">
      <%= form.number_field :latitude, id:"latitude", size:"20", value:"35.691574", step:"0.000000000000000001" %>
      <%= form.number_field :longitude, id:"longitude", size:"20", value:"139.704647", step:"0.000000000000000001" %>
    </div>

    <div class="form-group">
      <%= form.label :今日の出来事 %><br>
      <%= form.text_area :content, class:"form-control", size:"20x5", id: "input-text" %>
      <p id="counter">残り300文字</p>
    </div>

    <%= form.hidden_field :user_id, value:session[:user_id] %>

    <%= button_tag :type => "submit", :class =>"button" do %>
      <%= fa_icon("pencil-square-o") %> 地図に残す
    <% end %>
  <% end %>

</div>
</div> <%# ページ全体を囲むコンテナ%>
