<div class="container">  <%# ページ全体を囲むコンテナ%>
<br>
<h2 class="text-center">地図で保存する</h2>
<br>
<div class="col-md-offset-3 col-md-6">

  <div class="tab-pane well" id="2">
    <%= form_for(@map) do |form| %>
    <%= render "shared/error_messages", object: form.object %>

    <div class="form-group">
      <%= form.label :今日の出来事 %><br>
      <%= form.text_area :content, class:"form-control", size:"20x10", id: "input-text" %>
    <!-- カウンターが動かないので後で修正　-->
      <p id="counter">残り300文字</p>
    </div>

    <!-- 地名入力用のinputを追加 -->
    <h3>検索する</h3>
    <input id="address" type="textbox" placeholder="東京">

    <!-- buttonをクリックしたらcodeAddressを実行　-->
    <input type="button" value="Encode" onclick="codeAddress()">
    <div id='map'>
    </div>

    <%= form.hidden_field :user_id, value:session[:user_id] %>
    <br>

    <%= button_tag :type => "submit", :class =>"button" do %>
      <%= fa_icon("pencil-square-o") %> アルバムを追加
    <% end %>
    <% end %>



    <style>
    #map{
      height: 400px;
    }
    </style>

    <script>
    /*
    mapを関数の外で定義(codeAddressでも使うため)
    geocoderを用意
    */

    let map
    let geocoder

    function initMap(){
      // geocoderを初期化
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
      });
    }

    function codeAddress(){
      // 入力を取得
      let inputAddress = document.getElementById('address').value;

      // geocodingしたあとmapを移動
      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
    　　　　　　　　　　　　// map.setCenterで地図が移動
          map.setCenter(results[0].geometry.location);

    　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF7HSI_H8msXMWvhTeCW_UVHKBMrjWWps&callback=initMap" async defer></script>  </div>

  <%= link_to maps_path do %>
    <%= fa_icon("backward") %> 地図の一覧に戻る
  <% end %>
  <br><br>
</div>

</div> <%# ページ全体を囲むコンテナ%>
