<% if session[:user_id].presence && session[:child_id].presence %>
  <%= render "layouts/header" %>
<% end %>

<div class="container">  <%# ページ全体を囲むコンテナ%>
<br>

  <h2 class="text-center">子どものデータを受け取る</h2>
  <p class="text-center">別のユーザーから送られたデータを入力すると、子どもを共有することができます。</p><br>

<div class="col-md-offset-4 col-md-4 well"> <%# グリッドシステム%>
  <%= form_with scope: :family, url:familys_path, local:true do |form| %>
    <div class="form-group">
      <%= form.label :子どものID %>
      <%= form.number_field :child_id, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :子どもの名前 %>
      <%= form.text_field :child_name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :パスワード%>
      <%= form.text_field :child_password, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :user_id, class:"form-control", value:session[:user_id] %>
    </div>

    <%= button_tag :type => "submit", :class =>"button" do %>
      <%= fa_icon("child") %> データを受け取る
    <% end %>
  <% end %>
　<br><br>

<%= link_to familys_path do %>
  <%= fa_icon("backward") %> 前のページに戻る
<% end %>

</div> <%# グリッドシステム%>
</div>  <%# ページ全体を囲むコンテナ%>
