<div class="container" id="main_background">  <%# ページ全体を囲むコンテナ%>
<br><br>

<h2 class="text-center">
  <% if @child.sex == "男の子" %>
  <p><%= @child.name %>くんのパスワード</p>
  <% else %>
  <p><%= @child.name %>ちゃんのパスワード</p>
  <% end %>
</h2>
<p class="text-center">「パスワード情報」の内容を「送信先」のアドレスに送ります。</p>
<br>

<div class="col-md-offset-3 col-md-6 well"> <%# グリッドシステム%>

    <h4>パスワード情報</h4>
    <table class="table">
      <tbody>
        <tr><td><span>Ｉ　　　Ｄ</span></td>
　          <td><span><%= @child.id %></span></td></tr>
        <tr><td><span>名　　　前</span></td>
　          <td><span><%= @child.name %></span></td></tr>
        <tr><td><span>パスワード</span></td>
            <td><span><%= @child.child_password %></span></td></tr>
      </tbody>
    </table>

    <h4>送信先</h4>
      <%= form_with url:share_family_path, method: :post, local:true do |form| %>
        <div class="form-group">
          <%= form.text_field :address, placeholder:"共有したい相手のアドレスを入力してください。", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= button_tag :type => "submit", :class =>"button", data: { confirm: "メールを送信します。入力したアドレスに誤りはないですか？"} do %>
            <%= fa_icon("envelope") %> 送　信
          <% end %>
        </div>
      <% end %>

    <br>
    <%= link_to edit_path do %>
      <%= fa_icon("backward") %> 前のページに戻る
    <% end %>

</div> <%# グリッドシステム%>
</div>  <%# ページ全体を囲むコンテナ%>
