<div class="container">  <%# ページ全体を囲むコンテナ%>
<br><br>

<h2 class="text-center"><span class="pyonpyon">アカウントの新規作成</span></h2>
<p class="text-center">あなたの情報を入力してください</p>

<div class="col-md-offset-4 col-md-4 well"> <%# グリッドシステム%>
    <%= form_for(@user, url:signup_path) do |form| %>
      <%= render "shared/error_messages", object: form.object %>
      <div class="form-group">
        <%= form.label :名前 %>
        <%= form.text_field :name, class:"form-control input-lg", id:"input_field" %>
      </div>
      <div class="form-group">
        <%= form.label :アドレス %>
        <%= form.email_field :email, class:"form-control input-lg", id:"input_field" %>
      </div>
      <div class="form-group">
        <%= form.label :パスワード %>
        <%= form.password_field :password, class:"form-control input-lg", id:"input_field" %>
      </div>
      <div class="form-group">
        <%= form.label :パスワード再入力 %>
        <%= form.password_field :password_confirmation, class:"form-control input-lg", id:"input_field" %>
      </div>
      <br>

      <%= button_tag :type => "submit", :class =>"button" do %>
        <%= fa_icon("user") %> 作成する
      <% end %>

    <% end %>

  <br><br>
  <%= link_to root_path do %>
    <%= fa_icon("backward") %> トップページに戻る
  <% end %>
</div> <%# グリッドシステム%>

</div>  <%# ページ全体を囲むコンテナ%>

文字が<span class="pyonpyon">ピョンピョン</span>とランダムで跳ねます。

<script>

    function randomCharactor(c) {
        //跳ねさせる要素をすべて取得
        var randomChar = document.getElementsByClassName(c);
        //for で総当たり
        for (var i = 0; i < randomChar.length; i++) {
            //クロージャー
            (function(i) {
                //i 番目の要素、テキスト内容、文字列の長さを取得
                var randomCharI = randomChar[i];
                var randomCharIText = randomCharI.textContent;
                var randomCharLength = randomCharIText.length;
                //何番目の文字を跳ねさせるかをランダムで決める
                var Num = ~~(Math.random() * randomCharLength);
                //跳ねさせる文字を span タグで囲む、それ以外の文字と合わせて再び文字列を作る
                var newRandomChar = randomCharIText.substring(0, Num) + "<span>" + randomCharIText.charAt(Num) + "</span>" + randomCharIText.substring(Num + 1, randomCharLength);
                randomCharI.innerHTML = newRandomChar;
                //アニメーションが終わったら再び関数を発火させる
            })(i)
        }
    }
  //クラス名が pyonpyon のクラスを跳ねさせる
    setInterval("randomCharactor('pyonpyon')",1000);
</script>
