<%= render "layouts/header" %>

<div class="container" id="main_background">  <%# ページ全体を囲むコンテナ%>
<br><br>

<h2 class="text-center">子どもの一覧</h2>
<p class="text-center">あなたが登録した子ども・別のユーザーから受け取った子どもの一覧です。</p>

<div class="col-md-offset-3 col-md-6 well"> <%# グリッドシステム%>

  <table class="table">
    <tbody>
    <% @children.each do |form| %>
    <tr>
    <td><% if form.sex == "男の子" %>
          <p><%= form.name %>くん</p>
        <% else %>
          <p><%= form.name %>ちゃん</p>
        <% end %>
    </td>

    <% if form.id == session[:child_id] %>
  　  <td></td>
    <% elsif %>
      <td><%= link_to '表示を切り替える', child_path(form) %></td>
    <% end %>
    <% if @user.children.count > 1 %>
      <td><%= link_to '削除', child_path(form), method: :delete, data: { confirm: '本当に削除しますか?一度削除したデータは二度と戻せません。' } %></td>
    <% end %>
    </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to edit_path do %>
    <%= fa_icon("backward") %> 各種設定に戻る
  <% end %>

</div> <%# グリッドシステム%>
</div> <%# ページ全体を囲むコンテナ%>
