<div class="container"> <%# ページ全体を囲むコンテナ%>
<div class="col-md-offset-3 col-md-6"> <%# グリッドシステム%>

  <h2 id="page_title">アルバム</h2>
  <p>子どもの毎日の成長を記録しましょう。</p>
  <%= link_to '記事を追加', new_micropost_path, class:"btn btn-primary"  %>
  <br>

  <% @microposts.each do |form| %>
　<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%= form.created_at.strftime("%Y年%m月%d日") %>(投稿者：<%= User.find(form.user_id).name %>)</h4>
    </div>
    <div class="panel-body">
      <p id="font_size"><%= form.content %></p>
      <% if form.images.attached? %>
        <% form.images.each do |image| %>
          <%= image_tag image.variant(resize:'300x300') %>
        <% end %>
      <% end %>
    </div>
    <div class="panel-footer">
    <%= link_to '修正する', edit_micropost_path(form) %>
    <%= link_to '削除する', micropost_path(form), method: :delete, data: { confirm: '本当に削除しますか?' } %>
    </div>
  </div>
  <% end %>

  <br>
  <%= link_to 'トップページに戻る', child_path(@child) %>

</div> <%# グリッドシステム%>
</div> <%# ページ全体を囲むコンテナ%>
