<h2 id="page_title">今日の成長</h2>
<%= link_to '毎日の記録を入力する', new_micropost_path, class: "micropost_nav_list" %>
<%= link_to 'トップページに戻る', child_path(@child), class: "micropost_nav_list" %>

<div class="container">
  <% @microposts.each do |form| %>
    <div id="media">
        <div id="media-body">
            <h4 id="media-heading"><%= form.created_at %>(投稿者：<%= form.id %>)</h4>
            <p id="media-content"><%= form.content %></p>
        </div>
        <% if form.images.attached? %>
            <% form.images.each do |image| %>
            <%= image_tag image.variant(resize:'300x300'), class:"media-right" %>
            <% end %>
        <% end %>
    </div>
        <%= link_to '削除する', micropost_path(form), method: :delete, data: { confirm: '本当に削除しますか?' } %>
        <%= link_to '修正する', edit_micropost_path(form) %>
    <br><br>
  <% end %>
</div>
