<!DOCTYPE html>
<html lang="ja">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Kosugi+Maru&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %> 子育て共有アプリ　～日々の成長を記録しよう～</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag "_form.js" %>
    <%= javascript_include_tag "new_marker.js" %>
    <%= render "layouts/shim" %>
  </head>

  <body class="body_backrground">
     <%= render "layouts/header" %>
     <% flash.each do |message_type,message| %>
       <div class="flash time-limit">
         <div class="alert alert-<%= message_type %>", id="alert"><%= message %></div>
       </div>
     <% end %>
     <%= yield %>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF7HSI_H8msXMWvhTeCW_UVHKBMrjWWps&callback=initMap" async defer></script>
  </body>
</html>
